@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");

:host {
    --fonts-default: 'Sevillana';
}

/* Set the default font color to red */
body {
    font-family: var(--fonts-default);
    color: red; /* Change font color to red */
}
